.image {
  width: 180px;
  height: 240px;
}

.card {
  width: 200px;
  height: 420px;
  box-shadow: 1px 4px 3px #bebebe;
  border-radius: 10px;
  margin: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 1px 4px 3px #747070;
  transition: all 0.6s ease;
  cursor: pointer;
  transform: scale(1.02);
}

.detail-button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #bebebe;
  color: #fff;
  transition: all 1s ease 1ms;
}

.detail-button:hover {
  background-color: #dac879;
  color: #747070;
  cursor: pointer;
}
